<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter your Name">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter your Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter your Password">
            <button class="form-button">SignUp</button>
            <a (click)="openLogin()" class="auth-toggle-link" >Already Have an Account ? Click to Login</a>
        </form>
    </div>

    <!-- ----------------------- -->

    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter your Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter your Password">
            <button class="form-button">Login</button>
            <a (click)="openSignup()" class="auth-toggle-link" >Don't Have Account ? Click to Sign-Up</a>
        </form>
    </div>

</div>